p, h2, h3, h4, h5, h5, small {
    font-family: 'Montserrat', sans-serif;
}

.fst, .fst2, .card-body p {
    color: #4F4F4F;

}

.parm, .parm1 > p, .parm2 {
    color: #828282;
    
}

.fst, .parm1 > p, .fst3 {
    font-size: 18x;
}

.fst2, .fst4 {
    font-size: 23px;
}

.parm3 {
    font-size: 16px;
    color: #E0E0E0;
}

.fst4 {
    color: #333333;

}

.parm2, .card-body p {
    font-size: 16px;
}

.card-p{
    font-size: 16px;
    color: #828282;
    font-weight: 500;
}

.card-h3{
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.exp-h2{
   font-size: 24px;
    color: #4f4f4f;
    font-weight: 500; 
}

.project-text{
    font-size: 18px;
    font-weight: 500;
    color: #4F4F4F;
}

.c-head{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.card-c {
    width: 118px;
}

.card-d {
    width: 135px;
}